body {
    font-family: 'Work Sans', sans-serif;
}

#logo {
    font-size: 32px;
    background: -webkit-linear-gradient(#00F260, #0575E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#gradient {
    font-size: 20px;
    background: -webkit-linear-gradient(#00F260, #0575E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel-indicators li {
    background-color: #5bc0de;
}

.carousel-indicators .active {
    background-color: #292b2c;
}