<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../myservice/static/css/html_style.css">
    </head>
    <body>
        <nav class="nav-text navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="img/myservice.png" class="logo">
            </a>
            <div class="navbar-collapse offcanvas-collapse">
                <ul class="nav navbar-nav navbar-collapse">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#servicos">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#quemsomos">Quem somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faqsaq">FAQ & SAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ranking">Ranking</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 navbar-nav">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Procurar">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                        <img src="img/search.png" class="sm-logo">
                    </button>
                </form>
            </div>
        </nav>

        <div id="myCarousel" class="carousel-div carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1" class=""></li>
              <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-div carousel-inner">
              <div class="carousel-item active">
                <img class="first-slide" src="img/service1.jpg" alt="First slide">
                <div class="container">
                  <div class="carousel-caption text-left">
                    <h1>Seja bem-vind@ ao MyService!</h1>
                    <p>Ainda não conhece nosso site? Tudo bem, aqui está um <a href="#">tour</a> para nos conhecer.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-div  carousel-item">
                <img class="second-slide" src="img/service2.jpg" alt="Second slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Você faz acontecer!</h1>
                    <p>Contamos com um sistema de <a href="#">Ranking</a> para incentivar novos freelancers e clientes.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-div carousel-item">
                <img class="third-slide" src="img/service3.jpg" alt="Third slide">
                <div class="container">
                  <div class="carousel-caption text-right">
                    <h1>Muito mais do que você imagina</h1>
                    <p>Com o MyService, você e seu cliente podem ir mais longe.</p>
                    <p><a class="btn btn-lg btn-success" href="#" role="button">Veja os serviços</a></p>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>

        <section id="quemsomos">
            <div class="container-fluid quem-somos text-center margin">
                <h2 class="margin-img h-text"><strong>Quem somos?</strong></h3>
                <img src="img/team2.jpg" class="rounded-circle" width="200" height="200">
                <h3 class="margin-img color-text">Somos um time comprometido com resultados</h3>
            </div>
        </section>

        <section id="itens">
            <div class="container-fluid text-center margin parceiros">
                <h2 class="margin-img h-text"><strong>Itens</strong></h2>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <img src="img/example.png" class="img-parc">
                            <p>
                                Redwood Cigarettes are a tobacco company featured in the 3D Universe and HD Universe. 
                                The player can buy stocks from them on the Lcn-exchange.com website in Grand Theft Auto V.
                            </p>
                            <p>
                                "Tobacco products for real men who don't go to the doctors or read fear-mongering, left-wing so-called medical propaganda."
                                ― Description at LCN.com.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <img src="img/example.png" class="img-parc">
                            <p>
                                Pißwasser, stylized as PIßWASSER (BAWSAQ: PIS) (English: /ˈpɪsˌwɑsər/; German: /ˈpɪsˌvasəʁ/), 
                                Anglicised as Pisswasser or Piswasser, is a fictional German export lager frequently advertised on radio 
                                and TV in Grand Theft Auto IV and Grand Theft Auto V. The player can buy stocks from them on the Bawsaq.com website in GTA V.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <img src="img/example.png" class="img-parc">
                            <p>
                                Trevor Philips Enterprises (also variously referred to as Trevor Philips Enterprise,
                                 Trevor Philips Industries, Trevor Philips Corporation, TPI Conglomerate, TP Conglomerate, and TP Inc.)
                                  is a business in Grand Theft Auto V and Grand Theft Auto Online run by one of the three protagonists,
                                   Trevor Philips which is a company that deals with arms and drug dealings syndicate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="servicos">
            <div class="container-fluid text-center margin servicos">
                <h2 class="margin-img h-text">Serviços</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <img src="img/code.jpeg" class="img-tam rounded-circle" width="100%">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <img src="img/client.jpeg" class="img-tam rounded-circle" width="100%">
                            <p>

                            </p>                           
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="container-fluid text-center bg-footer">
            <p class="psml">© Copyright - 2020</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>